// code couleur
$white:white;
$green:#0ab259;
$grey:#5b5b5b;
$orange:#fd6205;
header {
  .my-nav {
    background-color:$white;
    padding: 10px;
    margin: 0;
  }
  .nav-right {
    float: right;
    display: flex;
    li {
      list-style: none;
      padding-right: 10px;
      padding-top: 10px;
      a {
        color: $grey;
        &:hover {
          color: $green;
          text-decoration: none;
        }
      }
      .don {
        padding: 10px 20px;
        color: $white;
        background-color: $orange;
        border-radius: 5px;
        font-weight: 600;
        &:hover {
          color: $white;
          background-color: rgba(230,126,34,1.0);
        }
      }
    }
  }
}
.carousel {
  .carousel-inner {
    .item {
      .carousel-caption {
        display: flex;
        justify-content: center;
        .intro {
          background-color: rgba(0,0,0,0.6);
          margin-bottom: 50px;
          max-width: 300px;
          padding: 20px;
          p {
            margin-bottom: 20px;
          }
          .a-propos {
            padding: 10px 30px;
            color: $white;
            border-radius: 5px;
            font-weight: 600;
            text-decoration: none;
            background-color: $orange;
            margin: 20px;
            &:hover {
              color: $white;
              background-color: rgba(230,126,34,1.0);
            }
          }
        }
      }
      img {
        height: 500px;
        width: 100%;
      }
    }
  }
}
.action {
  background-color: #f9f9f9;
  h2 {
    text-align: center;
  }
  text-align: center;
  img {
    margin: 10px;
  }
}
.last-actualité {
  text-align: center;
  h2 {
    text-align: center;
    margin-bottom: 30px;
  }
  img {
    width: 300px;
    height: 200px;
  }
}
.adhesion {
  text-align: center;
  background-color: #f9f9f9;
  .btn {

    padding: 10px 30px;
    color: $white;
    border-radius: 5px;
    font-weight: 600;
    text-decoration: none;
    background-color: $orange;
    margin: 20px;
    &:hover {
      color: $white;
      background-color: rgba(230,126,34,1.0);
    }
  }
}
.partenaire {
  text-align: center;
}
footer {
  background-color: $grey;
  height: 100px;
  text-align: center;
  p {
    color: $white;
    font-size: 9px;
  }
  .social-media {
    padding-top: 30px;
    display: flex;
    list-style: none;
    justify-content: center;
    a {
      color: white;
      padding-left: 20px;
    }
  }
}
